@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#496006;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #032a49;
	letter-spacing: 0.5px;
}
